@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{ Layout = null; }
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - TeamMWIE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">
    <!-- Google Fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800" rel="stylesheet">
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css"/>*@
    @*<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css" />

    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- adminpro icon CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/adminpro-custon-icon.css">
    <!-- meanmenu icon CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- mCustomScrollbar CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">

    @RenderSection("CSS", required: false)

    <!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="css/normalize.css">
    <!-- tabs CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/tabs.css">
    <!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="~/style.css">
    <!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- modernizr JS
    ============================================ -->
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="materialdesign">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header top area start-->
    <div class="wrapper-pro">
        <div class="left-sidebar-pro">
            <nav id="sidebar">
                <div class="sidebar-header">
                    @*<a href="/">
                            <img src="~/img/logo/logolayout.jpg" alt=""/>
                        </a>*@
                    <h3>VietPara</h3>
                    <p>
                        <em>"chất lượng cao"</em>
                    </p>
                    <strong>VPR</strong>
                </div>
                <div class="left-custom-menu-adp-wrap">
                    <ul id="left-sidebar-menu-pro" class="nav navbar-nav left-sidebar-menu-pro">
                        <li class="nav-item"   id="0" >
                                <a href="/Overview/Index">
                                    <i class="fa big-icon fa-tachometer"></i> <span  class="mini-dn">Tổng quan </span>
                                </a>
                            </li>
                            <li class="nav-item"  id="2" >
                                <a href="/ImportDrug">
                                    <i class="fa big-icon fa-cart-arrow-down"></i> <span  class="mini-dn">Nhập kho</span>
                                </a>
                            </li>
                            <li class="nav-item" id="3">
                                <a href="/ExportDrug">
                                    <i class="fa big-icon fa-truck"></i> <span  class="mini-dn">Xuất kho</span>
                                </a>
                            </li>
                            <li class="nav-item" id="4" >
                                <a href="/Liquidation">
                                    <i class="fa big-icon fa-balance-scale"></i> <span  class="mini-dn">Thanh lý</span>
                                </a>
                            </li>
                            <li class="nav-item"  id="5">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa big-icon fa-briefcase"></i> <span  class="mini-dn">Quản lý thuốc</span>
                                    <span class="indicator-right-menu mini-dn">
                                        <i class="fa indicator-mn fa-angle-left"></i>
                                    </span>
                                </a>
                                <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                    <a href="/Drug" class="dropdown-item">Thuốc</a>
                                    <a href="/GroupDrug" class="dropdown-item">Danh mục thuốc</a>
                                </div>

                            </li>
                            <li class="nav-item" id="6">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa big-icon fa-bank"></i> <span  class="mini-dn">Đối tác</span>
                                    <span class="indicator-right-menu mini-dn">
                                        <i class="fa indicator-mn fa-angle-left"></i>
                                    </span>
                                </a>
                                <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                    <a href="/Producer" class="dropdown-item">Nhà cung cấp</a>
                                    <a href="/Client">Khách hàng</a>
                                </div>

                            </li>
                            <li class="nav-item"  id="1">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <i class="fa big-icon fa-pie-chart"></i> <span  class="mini-dn">Thống kê</span>
                                    <span class="indicator-right-menu mini-dn">
                                        <i class="fa indicator-mn fa-angle-left"></i>
                                    </span>
                                </a>
                                <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
                                    <a href="/StatisticalImport" class="dropdown-item">Thống kê Nhập</a>
                                    <a href="/StatisticalExport" class="dropdown-item">Thống kê Xuất</a>
                                    <a href="/StatisticalLiquidation" class="dropdown-item">Thống kê Thanh lý</a>
                                </div>
                            </li>



                    </ul>
                </div>
            </nav>
        </div>
        <!-- Header top area start-->
        <div class="content-inner-all">
            <div class="header-top-area">
                <div class="fixed-header-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                                @*<button type="button" id="sidebarCollapse" class="btn btn_change bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                        <i class="fa fa-bars"></i>
                                    </button>*@
                                <div class="admin-logo logo-wrap-pro">
                                    <a href="#">
                                        <h2>VietPara</h2>
                                        <h4>
                                            <em>"chất lượng cao"</em>
                                        </h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-1 col-sm-1 col-xs-12">
                                <div class="header-top-menu tabl-d-n">
                                    <ul class="nav navbar-nav mai-top-nav">
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 pr-5">
                                <div class="header-right-info">
                                    <ul class="nav navbar-nav mai-top-nav header-right-menu ">
                                        <li class="nav-item">
                                            <a href="/" class="nav-link">
                                                <i class="fa fa-home" style="font-size: 25px;"></i><span style="display: inline-block; color: #fff; font-size: 16px; position: relative; top: -2px; margin-left: 5px;"> Trang chủ</span>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                    <span class="adminpro-icon adminpro-user-rounded header-riht-inf"></span>
                                    <span class="admin-name">
                                        @User.Identity.Name<i class="fa fa-snapchat-ghost" aria-hidden="true"></i>
                                    </span>
                                    <span class="author-project-icon adminpro-icon adminpro-down-arrow"></span>
                                </a>
                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated flipInX">
                                                    @if (SignInManager.IsSignedIn(User))
                                                    {
                                                        if (User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value == "Admin")
                                                        {
                                    <li>
                                        <a href="/Identity/Account/Register"><span class="adminpro-icon adminpro-home-admin author-log-ic"></span>Đăng ký người dùng</a>
                                    </li>}
                                                    }
                                                    @if (SignInManager.IsSignedIn(User))
                                                    {
                                                        if (User.Claims.FirstOrDefault(c => c.Type == "Role")?.Value != "Admin")
                                                        {
                                    <li id="idUser">
                                        <a href="ManageUser/Edit/@User.Claims.Where(c => c.Type == "UserProfileId").Select(c => c.Value).SingleOrDefault()"><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>Cập nhật thông tin</a>
                                    </li>}
                                                    }
                                                    <li style="color: white; padding-left: 20px">
                                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                                            <span class="adminpro-icon adminpro-settings author-log-ic"></span>
                                                            <button style="border: none;background: none;border: none;padding: 0px;"> Đăng xuất </button>
                                                        </form>
                                                    </li>
                                                </ul>}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end-->
            <!-- Breadcome start-->
            <!-- Breadcome End-->
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li>
                                            <a data-toggle="collapse" data-target="#Charts" href="/ImportDrug">Nhập kho <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#demo" href="/ExportDrug">Xuất kho <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#others" href="/LiquidationDrug">Thanh lý <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#Miscellaneousmob" href="/Drug">Quản lý thuốc <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#Chartsmob" href="/Producer">Nhà cung cấp <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                        <li>
                                            <a data-toggle="collapse" data-target="#Tablesmob" href="#">Thống kê <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>

                                        <li>
                                            <a data-toggle="collapse" data-target="#Pagemob" href="#">Cài đặt <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
            <!-- Breadcome start-->
            <!-- Breadcome End-->
            <!-- Render start-->


            <div style="min-height: 500px; margin-top: 15px;">
                @RenderBody()
            </div>


            <!-- Render End-->
            <!-- Footer Start-->
            <!-- Footer End-->
        </div>
    </div>

    <!-- jquery
    ============================================ -->
    <script src="~/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
    ============================================ -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- meanmenu JS
    ============================================ -->
    <script src="~/js/jquery.meanmenu.js"></script>
    <!-- sticky JS
    ============================================ -->
    <script src="~/js/jquery.sticky.js"></script>
    <!-- mCustomScrollbar JS
    ============================================ -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- scrollUp JS
    ============================================ -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <!-- Render JS
    ============================================ -->
    @RenderSection("Scripts", required: false)
    <!-- main JS
    ============================================ -->
    <script src="~/js/main.js"></script>
    @RenderSection("ScriptsAJAX", required: false)
    <script>

        //function aa() {
            for (let i = 0; i <= 6; i++) {
                document.getElementById(i).onclick = function () {
                    document.getElementById(i).classList.add('openNav');
                    localStorage.setItem('testClass', document.getElementById(i).getAttribute('class'));
                    document.getElementById(i).classList.remove('openNav');

                }

            }
           
        //}

    </script>
    <script type="module">
    //var arr = [
    //    {
    //        id: 0,
    //        name: 'Tổng quan',
    //        href: '/Overview/Index',
    //        class: "fa big-icon fa-tachometer",
    //        child:[]

    //    },
    //    {
    //        id: 1,
    //        name: 'Nhập kho',
    //        href: '/ImportDrug',
    //        class: "fa big-icon fa-cart-arrow-down",
    //         child: []
    //    },
    //    {
    //        id: 2,
    //        name: 'Xuất kho',
    //        href: "/ExportDrug",
    //        class: "fa big-icon fa-truck",
    //        child: []

    //    },
    //    {
    //        id: 3,
    //        name: 'Thanh lý',
    //        href: "/Liquidation",
    //        class: "fa big-icon fa-balance-scale",
    //        child: []

    //    },
    //    {
    //        id: 4,
    //        name: 'Quản lý thuốc',
    //        href: "#",
    //        class: "fa big-icon fa-briefcase",
    //        classIcon: "fa indicator-mn fa-angle-left",
    //        child: [
    //            {
    //                id: 4.1,
    //                nameChild: 'Thuốc',
    //                hrefChild:"/Drug"
    //            },
    //            {
    //                id: 4.2,
    //                nameChild: 'Danh mục thuốc',
    //                hrefChild:"/GroupDrug"
    //            }
    //        ]

    //    },
    //    {
    //        id: 5,
    //        name: 'Đối tác',
    //        href: "#",
    //        class: "fa big-icon fa-bank",
    //        classIcon: "fa indicator-mn fa-angle-left",
    //        child: [
    //            {
    //                id: 5.1,
    //                nameChild: 'Nhà cung cấp',
    //                hrefChild:"/Producer"
    //            },
    //            {
    //                id: 5.2,
    //                nameChild: 'Khách hàng',
    //                hrefChild: "/Client"
    //            }
    //        ]

    //    },
    //    {
    //        id: 6,
    //        name: 'Thống kê',
    //        href: "#",
    //        class: "fa big-icon fa-pie-chart",
    //        classIcon: "fa indicator-mn fa-angle-left",
    //        child: [
    //            {
    //                id: 6.1,
    //                nameChild: 'Thống kê Nhập',
    //                hrefChild:"/StatisticalImport"
    //            },
    //            {
    //                id: 6.2,
    //                nameChild: 'Thống kê Xuất',
    //                hrefChild:"/StatisticalExport"
    //            },
    //            {
    //                id: 6.3,
    //                nameChild: 'Thống kê Thanh lý',
    //                hrefChild:"/StatisticalLiquidation"
    //            }
    //        ]

    //    }
    //]
    //    let html = arr.map(el => {
    //        console.log(el.child)

    //    return `
    //        <li class="nav-item" >
    //                <a href="${el.href}" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
    //                    <i class="${el.class}"></i> <span  class="mini-dn">${el.name}</span>
    //                            <span class="indicator-right-menu mini-dn">
    //                                    <i class="${el.classIcon}"></i>
    //                                </span>

    //                </a>
                   
    //                <div role="menu" class="dropdown-menu left-menu-dropdown animated flipInX">
    //                 ${
    //                    el.child.map(elItem => {
    //                        console.log(elItem)
    //                        return `
    //                            <a href="${elItem.hrefChild}" class="dropdown-item">${elItem.nameChild}</a>
    //                        `
    //                    }).join('')
    //                  }
    //                 </div>

    //            </li>

    //    `
    //})
    //    document.getElementById('left-sidebar-menu-pro').innerHTML = html.join('\n')



    @*function aa() {


    }*@
    function IdUser() {
        $.ajax({
            url: "/ManageUser/GetUser",
            type: "GET",
            dataType: "json",
            success: function(dataRespose) {
                var data = dataRespose.data;
                $("#idUser").empty();
                $("#idUser").append('<a href="/ManageUser/Edit/' +
                    data.id +
                    '"' +
                    '><span class="adminpro-icon adminpro-user-rounded author-log-ic"></span>Cập nhật thông tin</a>')
            }
        });
    }

    $(document).ready(function() {
        IdUser();
    });


    </script>
</body>

</html>