@using MWIE.Models.Entity
@model IEnumerable<MWIE.Models.ViewModel.GroupDrugViewModel>
@{ ViewBag.Title = "Group Drug";
    Layout = "_Layout"; }
@section Scripts {
    @{await Html.RenderPartialAsync("_ScriptTablePatial"); }
}
@section CSS
{
    @{await Html.RenderPartialAsync("_StyleTablePatial"); }
}
<div id="mess" class="modal-dialog" style="position: fixed; left: 400px; z-index: 1; display: none">

    <!-- Modal content-->
    <div class="modal-content ">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-align: center; color: red">Thông báo!</h4>
        </div>
        <div class="modal-body">
            <p>Không thể xóa danh mục thuốc này!</p>
        </div>
        <div class="modal-footer">
            <button id="btnmess" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

<!-- Static Table Start -->
<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        @*<button class="test"> test</button>*@
        <div class="row">
            <div class="col-lg-12">
                <div class="sparkline13-list shadow-reset">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Quản lý <span class="table-project-n">danh mục thuốc</span></h1>
                            <div class="sparkline13-outline-icon">
                                <span><a asp-action="Create" style="color: black"><i class="fa fa-plus-square"></i></a></span>
                                <span class="sparkline13-collapse-link"><i class="fa fa-chevron-up"></i></span>
                                <span><i class="fa fa-wrench"></i></span>
                                <span class="sparkline13-collapse-close"><i class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">
                            <div id="toolbar">
                                <select class="form-control">
                                    <option value="">In trang hiện tại</option>
                                    <option value="all">In tất cả các trang</option>
                                    <option value="selected">In những hàng được chọn</option>
                                </select>
                            </div>
                            <table id="table" class="table table-striped" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                    <tr>
                                        @* <th data-field="state" data-checkbox="true"></th> *@
                                        <th data-field="name" data-editable="true">Tên</th>
                                        <th data-field="task" data-editable="true">Trạng thái</th>

                                        <th data-field="action">Xử lý</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)    
                                    {
                        <tr>
                            @* <td></td> *@
                            <td>@Html.DisplayFor(modeItem => item.Name)</td>
                            <td>@Html.DisplayFor(modeItem => item.IsActive)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o"> Edit </i></a> |
                                <a class="test" onclick="fc(@item.Id)" style="cursor: pointer;" @*asp-action="Delete" asp-route-id="@item.Id"*@><i class="fa fa-trash-o"> Delete </i></a>
                            </td>
                        </tr>}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Static Table End --<!-->

@section ScriptsAJAX {
    <script src="~/js/groupdrug/groupdrug.js"></script>
}



